* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.select-buttons {
  width: 100%;
  display: flex;
  border: 1px solid #333;
  border-radius: 8px;
  overflow: hidden;
  height: 40px;
  margin-bottom: 12px;
}

.select-buttons__button {
  cursor: pointer;
  flex: 1;
  background-color: white;
  color: #333;
  border: 0;
  font-weight: bold;
  padding: 0;
  margin: 0;
  border-right: 1px solid #333;
}

.select-buttons__button:last-child {
  border-right: 0;
}

.select-buttons__button--selected {
  color: white;
  background-color: #333;
}

.range {
  display: flex;
  width: 100%;
}

.range__label {
  flex: 1;
  display: block;
  margin-right: 20px;
}

.range__input {
  flex: 3;
}

.canvas {
  border: 1px solid #333;
  border-radius: 8px;
  overflow: hidden;
  max-width: 100%;
  width: min(90vh, 90vw);
  aspect-ratio: 1;
  margin-bottom: 12px;
}

.table {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;  
}

.info {
  font-size: 20px;
  width: 70%;
  text-align: center;
  margin-top: 20px;
}
